<!DOCTYPE html>
<html>
	<head>
		<title>Administradores</title>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<header>
		</header>
		<section>
			<div>
				<ul>
					<li><a href="coordregistro.html">Añadir coordinadores</a></li>
					<li><a href="#">Acceso a información de usuarios</a></li>
					<li><a href="#">Estadísticas de uso mensual del sistema</a></li>
				</ul>
			</div>
		</section>
		<section>
		</section>
		<aside>
		</aside>
		<footer>
			<p> Elaborado por alumnos de Opción Técnica en Computación. Asesorados por la profesora Angela Villanueva Vilchis.</p>
		</footer>
	</body>
</html>