<!DOCTYPE html>
<html>
	<head>
		<title>Coordinadores</title>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="../frameworks/bootstrap-3.3.6-dist/js/bootstrap.js"></script>
		<link rel="stylesheet" href="../frameworks/bootstrap-3.3.6-dist/css/bootstrap.css"/>
		<link rel="stylesheet" href="../styles/board.css"/>
	</head>
	<body>
		<header class="container">
			<div class="row text-center">
				<div class="col-xs">
				<h1>
					Bienvenid@ Coordinador(a)
				</h1>
				</div>
			</div>
		</header>
		<section class="container">
			<div class="row">
					<a class="btn btn-block btn-success" href="profregistro.html"> Añadir profesores</a>
					<a class="btn btn-block btn-success" href="#">Consulta</a>
					<a class="btn btn-block btn-success" href="#">Preguntas hechas por profesores</a>
					<!--sugiero que cuando vayan a preguntas hechas por profesores, ahí mismo se ponga si sí es aceptada-->
			</div>
		</section>
		<section>
		</section>
		<aside>
		</aside>
		<div class="relleno">
		</div>
		<footer class="container-fluid text-center">
			<div class="row">
				<div class="col-xs">
				<p> Elaborado por alumnos de Opción Técnica en Computación.<br/> Asesorados por la profesora Angela Villanueva Vilchis.</p>
				</div>
			</div>
		</footer>
	</body>
</html>