<!DOCTYPE html>
<html>
	<head>
		<title>Coordinadores</title>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<header>
		</header>
		<section>
			<div>
				<ul>
					<li><a href="profregistro.html"> Añadir profesores</a></li>
					<li><a href="#">Consulta</a></li>
					<li><a href="#">Preguntas hechas por profesores</a></li>
					<!--sugiero que cuando vayan a preguntas hechas por profesores, ahí mismo se ponga si sí es aceptada-->
				</ul>
			</div>
		</section>
		<section>
		</section>
		<aside>
		</aside>
		<footer>
			<p> Elaborado por alumnos de Opción Técnica en Computación. Asesorados por la profesora Angela Villanueva Vilchis.</p>
		</footer>
	</body>
</html>