<!--Por Kevin. Página principal del juego-->

<!DOCTYPE html>
<html>
	<head>
	<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Nombre</title>
	</head>
	<body>
		<section>
			<a href="registro.html">Registrarse</a>
			<form action="../programs/inicio.php" method="POST" id="formulario">
				<label>Usuario</label><input type="text" name="usuario" id="usuario" required/>
				<label>Contraseña</label><input type="text" name="contra" id="contra" required/>
				<input type="submit" value="Entrar" id="entrar" disabled/>
			</form>
		</section>
		<script src="../programs/jquery-2.2.3.js"></script>
		<script src="../programs/validPrincipalAjax.js"></script>
	</body>
</html>
