body
{
	background-image:url(../resources/blackboard.jpg);
	color:white;
}
.form-control
{
	background-color:rgba(255,255,255,0.3);
	color:white;
}
.form-control:focus
{
	background-color:rgba(255,255,255,0.8);
	color:black;
}
.alert-info
{
	background-color:rgba(240,240,255,0.75);
}
footer
{
	position:relative;
	margin-bottom:2px;
	background-color:rgba(255,255,255,0.15);
}
.relleno
{
	clear:both;
	height:10px;
}
fieldset
{
	border:none;
}
.modal-content
{
	background-color:rgba(220,220,220,0.9);
	color:black;
	box-shadow:10px 10px 5px #222;
}
legend{
	font-size:130%;
}
