body
{
	background-image:url(../resources/blackboard.jpg);
	color:white;
}
.form-control, textarea
{
	background-color:rgba(255,255,255,0.3);
	color:white;
}
.form-control:focus
{
	background-color:rgba(255,255,255,0.8);
	color:black;
}
.alert-info
{
	background-color:rgba(240,240,255,0.75);
}
footer
{
	position:relative;
	margin-bottom:2px;
	background-color:rgba(255,255,255,0.15);
}
.relleno
{
	clear:both;
	height:10px;
}
fieldset
{
	border:none;
}
.modal-content, .jumbotron
{
	background-color:rgba(220,220,220,1);
	color:black;
	box-shadow:10px 10px 5px rgba(50,50,50,0.6);
}
legend{
	font-size:130%;
}
select
{
	color:black;
}
#empezar, .panel
{
	margin:30vh auto;
	width:65vw;
	height:50vh;
}
#empezar
{
	font-size:400%;
}
.panel{
	box-shadow:10px 10px 5px rgba(50,50,50,0.6);
	background-color:rgba(220,220,220,0.9);
	color:black;20
}
.panel-heading
{
	color:white;
	padding: 10 20vh;
	min-height:20%;
	text-align:center;
	
	width:100%;
	box-shadow:2px 2px 2px rgba(50,50,50,0.6);
	text-shadow:1px 1px 6px rgba(20,20,20,0.8);
}
.panel-title
{
	height:100%;
	font-size:120%;
}

.panel-body
{
	max-height:80%;
	min-height:80%;
}
img{
	max-height:60vh;
}
.table-hover>tbody>tr:hover{
	color:#EEE;
	background-color:rgba(200,200,200,0.3);
}